img {
    display: none;
}

#html5-qrcode-button-camera-permission,
.html5-qrcode-element {
    align-items: center;
    border-width: 3px;
    border-color: #52b69a;
    border-radius: 18px;
    border-style: solid;
    box-sizing: border-box;
    color: #ffffff;
    display: flex;
    font-family: Phantomsans, sans-serif;
    font-size: 18px;
    justify-content: center;
    line-height: 1em;
    max-width: 100%;
    min-width: 140px;
    padding: 3px;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    cursor: pointer;
    background-color: #111111;
    padding: 12px 24px;
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    height: 100%;
    transition: 300ms;
    margin-bottom: 10px;
}

video {
    border-radius: 20px 20px 0 0;
}

#reader {
    border-radius: 20px;
    border-width: 0;
    border-color: #353434;
}

#html5-qrcode-anchor-scan-type-change {
    display: none !important;
}