img {
    display: none;
}

#html5-qrcode-button-camera-permission,
.html5-qrcode-element {
    align-items: center;
    border-width: 3px;
    border-color: #52b69a;
    border-radius: 18px;
    border-style: solid;
    box-sizing: border-box;
    color: #ffffff;
    display: flex;
    font-family: Phantomsans, sans-serif;
    font-size: 18px;
    justify-content: center;
    line-height: 1em;
    max-width: 100%;
    min-width: 140px;
    padding: 3px;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    cursor: pointer;
    background-color: #111111;
    padding: 12px 24px;
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    height: 100%;
    transition: 300ms;
    margin-bottom: 10px;
}

video {
    border-radius: 20px 20px 0 0;
}

#reader {
    border-radius: 20px;
    border-width: 0;
    border-color: #353434;
}

#html5-qrcode-anchor-scan-type-change {
    display: none !important;
}

.tick,
.cross {
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 4rem; /* Larger font size */
    width: 80px; /* Set width to ensure circular outline */
    height: 80px; /* Set height to ensure circular outline */
    border: 4px solid; /* Add border for circle outline */
    border-radius: 50%; /* Make it a circle */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999; /* Ensure it appears on top of other elements */
    background-color: white; /* Set background color to white */
    margin-bottom: 30px;
}

.tick {
    color: green; /* Green color for success */
    border-color: green; /* Green color for circle outline */
}

.cross {
    color: red; /* Red color for failure */
    border-color: red; /* Red color for circle outline */
}

#lastscan {
    margin-top: -5px;
    margin-bottom: 21.5px;
}

#readerButtons {
    margin-top: 20px;
    margin-bottom: 10px;
}

#html5-qrcode-button-camera-stop {
    margin-bottom: 0px
}

.payment {
    margin-bottom: 10px;
}

.success-container {
    position: fixed;
    bottom: 3%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 128, 0, 0.8); /* Green color with some opacity */
    color: #fff; /* White text color */
    padding: 10px 20px; /* Padding around the content */
    border-radius: 20px; /* Rounded corners */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); /* Box shadow for a slight depth effect */
    z-index: 1000; /* Ensure it's on top of other elements */
    display: flex;
    align-items: center;
}

.name {
    font-size: 16px; /* Size of the name */
}
